* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: #000;
	overscroll-behavior-y: none;
	color: #fff;
	font-family: "Space Grotesk";
}

/* hero */

.hero {
	height: 100vh;
	display: flex;
	flex-wrap: wrap;
	gap: 5vw;
	justify-content: center;
	align-items: center;
	background: #000;
	padding: 25px !important;
	border: none !important;
}

.hero-info {
	max-width: 400px;
}

.hero-eyebrow {
	color: rgb(255, 100, 0);
	font-size: 0.875rem;
	margin-bottom: 10px;
	font-family: "Inter";
}

.hero-header {
	font-size: 5rem;
}

.hero-subtitle {
	font-size: 1rem;
	color: #999;
	margin-top: 15px;
	font-family: "Inter";
}

.hero-model {
	width: 40vmax;
	height: 40vmax;
}

#scroll-tip {
	position: absolute;
	bottom: 20px;
	font-size: 0.875rem;
	color: #888;
	font-family: "Inter";
}

/* section */

section {
	padding: 75px 15vw;
	border-top: 1px solid #222;
}

.section-header {
	font-size: 2.5rem;
	margin-bottom: 25px;
}

.section-subheader {
	font-size: 1rem;
	color: #999;
	margin-bottom: 75px;
	font-family: "Inter";
	font-weight: 400;
}

/* projects */

#projects-container {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(max(20vw, 300px), 1fr));
	gap: 32px;
}

.project-section {
	grid-column: 1 / -1;
}

.project {
	border-radius: 10px;
	border: 1px solid #222;
	display: flex;
	overflow: hidden;
	flex-direction: column;
}

.project-thumbnail {
	width: 100%;
	aspect-ratio: 16 / 10;
	object-fit: cover;
}

.project-info {
	padding: 24px;
	display: flex;
	flex-direction: column;
	gap: 18px;
	flex-grow: 1;
}

.project-name {
	font-size: 18px;
}

.project-description {
	flex-grow: 1;
	font-size: 14px;
	color: #999;
	font-family: "Inter";
}

.project-links {
	display: flex;
	gap: 12px;
	flex-wrap: wrap;
}

.project-link {
	border-radius: 100vmax;
	padding: 10px 14px;
	text-decoration: none;
	border: 1px solid #333;
	color: #999;
	font-family: "Inter";
	font-size: 14px;
	transition:
		transform 0.2s ease,
		color 0.2s ease;
}

.project-link:hover {
	transform: translateY(-2px);
	color: #ddd;
}

/* scroll reveal */

.reveal {
	transform: translateY(25px);
	opacity: 0;
	transition:
		transform 0.75s ease,
		opacity 0.5s ease;
}

.reveal.visible {
	transform: translateY(0);
	opacity: 1;
}
