* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: #000;
	overscroll-behavior-y: none;
	color: #fff;
	font-family: "Space Grotesk";
}

/* hero */

.hero {
	height: 100vh;
	display: flex;
	gap: 5vw;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	background: #000;
	padding: 50px !important;
	border: none !important;
}

.hero-info {
	max-width: 400px;
}

.hero-eyebrow {
	color: rgb(255, 100, 0);
	font-size: 0.875rem;
	margin-bottom: 10px;
	font-family: "Inter";
}

.hero-header {
	font-size: 5rem;
}

.hero-subtitle {
	font-size: 1rem;
	color: #999;
	margin-top: 15px;
	font-family: "Inter";
}

.hero-model {
	width: 40vmax;
	height: 40vmax;
}

#scroll-tip {
	position: absolute;
	bottom: 20px;
	font-size: 0.875rem;
	color: #888;
	font-family: "Inter";
}

/* section */

section {
	padding: 100px 15vw;
	border-top: 1px solid #222;
}

.section-header {
	font-size: 2.5rem;
	margin-bottom: 25px;
}

.section-subheader {
	font-size: 1rem;
	color: #999;
	margin-bottom: 75px;
	font-family: "Inter";
	font-weight: 400;
}

/* projects */

#projects-container {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
	gap: 32px;
}

.project-section {
	grid-column: 1 / -1;
}

.project {
	border-radius: 10px;
	border: 1px solid #222;
	display: flex;
	overflow: hidden;
	flex-direction: column;
}

.project-media {
	width: 100%;
	aspect-ratio: 16 / 9;
	cursor: pointer;
}

.project-image,
.project-video {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	aspect-ratio: 16 / 9;
	object-fit: cover;
	transition: opacity 0.15s ease-in-out;
}

.project-video {
	opacity: 0;
}

.project-media:hover .project-image {
	opacity: 0;
}

.project-media:hover .project-video {
	opacity: 1;
}

.project-info {
	padding: 24px;
	display: flex;
	flex-direction: column;
	gap: 18px;
	flex-grow: 1;
}

.project-name {
	font-size: 18px;
}

.project-description {
	flex-grow: 1;
	font-size: 14px;
	color: #999;
	font-family: "Inter";
}

.project-links {
	display: flex;
	gap: 12px;
	flex-wrap: wrap;
}

.project-link {
	border-radius: 100vmax;
	padding: 10px 14px;
	text-decoration: none;
	border: 1px solid #333;
	color: #999;
	font-family: "Inter";
	font-size: 14px;
	transition:
		transform 0.2s ease,
		color 0.2s ease;
}

.project-link:hover {
	transform: translateY(-2px);
	color: #ddd;
}

/* modal */

dialog {
	background: transparent;
	width: 100vw;
	height: 100vh;
	position: fixed;
	top: 50%;
	left: 50%;
	translate: -50% -50%;
	border: none;
}

dialog::backdrop {
	background: rgba(0, 0, 0, 0.1);
	backdrop-filter: blur(5px);
}

#modal-content {
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 15vmin;
}

#modal-video {
	width: 100%;
	aspect-ratio: 16 / 9;
	border-radius: 12px;
	box-shadow: 0 0 0 2px white;
}

/* scroll reveal */

.reveal {
	transform: translateY(25px);
	opacity: 0;
	transition:
		transform 0.75s ease,
		opacity 0.5s ease;
}

.reveal.visible {
	transform: translateY(0);
	opacity: 1;
}

/* mobile */

@media (max-width: 768px) {
	#projects-container {
		grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
	}

	section {
		padding: 100px 5vw;
	}

	#modal-content {
		padding: 0;
	}
}
